.education-item {
	display: flex;
	align-items: flex-start;
}

.education-item strong {
	width: 90px;
	margin-right: 20px;
}

.education-items {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.education .edit-delete {
	display: flex;
	margin-left: auto;
}
