.experience-item {
	display: flex;
	align-items: flex-start;
}

.experience-item strong {
	width: 90px;
	margin-right: 20px;
}

.experience-items {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.experience .edit-delete {
	display: flex;
	margin-left: auto;
}
